.rip {
    padding-block: 2rem;
    padding-inline: var( --inline-space );
    color: var( --o-rip-color );
    background: var( --o-rip-background );

    &__content {
        width: 100%;
        max-width: var( --column-width );
    }

    &__image {
        margin-bottom: 2rem;
    }

    &__form {
        margin-top: 3rem;
        position: sticky;
        top: 2rem;

        .button {
            font-weight: 700;
        }

        .submitted {
            pointer-events: none;
            opacity: .4;

            transition: opacity 1s ease-in-out .3s;
        }
    }

    &__title {
        font-size: var( --size-kilo );
        font-weight: 700;
    }
}